@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Travel Home Page</h2>

<nav>@Html.ActionLink("location", "Index", "Location") | @Html.ActionLink("experience", "Index", "Experience") | @Html.ActionLink("person", "Index", "Person")</nav>