@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Travel.Models.Experience>

<h2>Travel</h2>

<h4>Experiences</h4>
<p>@Html.ActionLink("Add New Experience", "Create")</p>
<ul>
    @foreach (var experience in Model)
    {
        <li>@Html.DisplayFor(modelExperience => experience.Description) @Html.ActionLink("Edit Experience", "Edit", new { id = experience.ExperienceId }) | @Html.ActionLink("See detail thing", "PostDetails", new { id = experience.ExperienceId })</li>
    }
</ul>
