@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Travel.Models.Experience>

<h2>Travel</h2>
<h4>@Html.DisplayNameFor(model => model.Description)</h4>
<ul>
    @foreach (var experience in Model)
    {
        <li>@Html.DisplayFor(modelExperience => experience.Description)</li>
    }
</ul>

@Html.ActionLink("Add New Experience", "Create")