@{
    ViewData["Title"] = "To Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Travel.Models.Location>

<h2>Travel</h2>
<h4>@Html.DisplayNameFor(model => model.City)</h4>
<ul>
    @foreach (var location in Model)
    {
        <li>@Html.DisplayFor(modelLocation => location.City) | @Html.DisplayFor(modelLocation => location.Country)</li>
    }
</ul>

<p>@Html.ActionLink("Add new Location", "Create")</p>
